.App {
  font-family: sans-serif;
}

table {
  margin-top: 10px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.trash-icon {
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
